.nav-logo {
  height: 35px;
  width: auto;
}
.nav-menu {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.profile {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dropdown-toggle::after {
  position: absolute;
  visibility: hidden;
}
@media screen and (max-width: 992px) {
  .user-profile {
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
  }
  #basic-navbar-nav {
    margin-top: 20px !important;
  }
}